body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  /* background-color: #1b1737; */
  background-color: white;
  font-size: 1em;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /* 100% = 16px = 1em */
  color: #29d5eb;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #29d5eb;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: #29bfd6;
}

a {
  color: #cb3bec;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
}

.top-container {
  margin: 0;
  padding-bottom: 0px;
  padding-top: 100px;
  background-color: #1b1737;
}

.middle-container {
  margin: 50px auto 50px auto;
}

.bottom-container {
  margin: 0;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #1b1737;
}

.bot-cloud {
  position: absolute;
  left: 100px;
  bottom: 600px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width:50%;
  line-height: 1.5;
}

.profile {
  width: 35%;
  margin: auto;
}

.profile-img {
  width:150px;
  height:150px;
  border-radius:100%;
}

.mountain-img {
  margin: 0 0 -50px 0;
}

.ep-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ep-desc {
  clear:inherit;
}
